.cart {
    width: var(--width);
    height: var(--height);
    margin: 2px;
    border-radius: 25%;
}

aside {
    width: 20%;
    height: 100vh;
    border-right: 2px solid black;
}

main {
    width: 75%;
    height: 100vh;
}

header {
    background: rgb(25,116,47);
    background: linear-gradient(0deg, rgba(25,116,47,1) 42%, rgba(103,191,24,1) 100%);
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.color-background-left {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(46,89,18,1) 100%);
}

.color-background-rigth {
    background: rgb(46,89,18,1);
    background: linear-gradient(0deg, rgba(22,121,9,1) 39%, rgba(34,193,195,1) 100%);
}