.cart {
    width: var(--width);
    height: var(--height);
    margin: 2px;
}

aside {
    width: 20%;
    height: 100vh;
    border-right: 2px solid black;
}

main {
    width: 75%;
    height: 100vh;
}

header {
    border-bottom: 2px solid black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,121,9,1) 35%, rgba(0,212,255,1) 100%);
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}